*{
	/*border:1pt solid black;*/
}

html {
	height: 100%;
}


body {
	/*background-image: url('resume-background.svg');*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-position: center;
	width: 100%
	/*background-color: var(--secondary-color);*/

	height: 100%;
	color:#FFF;
}

.wrap {
	position: relative;
}

#svg {
	position: fixed;
	bottom: -400px;
	left:0;
	width:1400px;
	height: 1400px;
}


.container {
	background-color: rgba(60, 60, 115,.8); /*#3c3c73*/
	margin:0;
	padding: 0;
	position: absolute;
	z-index: 10;
	width: 100%;
}




/*Grid*/

.grid {
	display: grid;
	width:100%;
	height: 100%;
	margin:0;
	grid-template-columns: 10fr ;
	grid-template-rows: 1fr 3fr 10fr 12fr 10fr;
	grid-template-areas: 
		"nav "
		"header "	
		"education "
		"experience"
		"skills";
}


/*Headers*/

.header {
	grid-area: header;
	text-align: center;
	margin-top: 0px;
	/*display: none;*/
	justify-self: center;
}

header h1, h2, h3, h4 {
	margin: 10px 0;
}

hr {
	width: 700px;
}

header hr {
	width: 450px;
}


/*Triangles*/

.triangle {
    filter: drop-shadow( 2px 0px 2px rgba(0,0,0,0.4) );
    fill:#333;
}


/*Education*/

.education {
	grid-area: education;
	height: 100%;
	position: relative;
	opacity: 0;
	right:100px;

	display: grid;
	grid-template-columns: 3.5fr 6.5fr;
	grid-template-areas: 
		"triangle-one education-text";

}

#Layer_1 {
	grid-area: triangle-one;
	align-self: center;

}
.education-text {
	grid-area: education-text;
	align-self: center;
	width: 700px;

}

.education-text h3 {
	font-weight: 300;
}


/*Experience*/

.experience {
	grid-area: experience;
	height: 100%;
	position: relative;
	opacity: 0;
	left:100px;


	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-areas: 
		"experience-text triangle-two";
}

#Layer_2 {
	grid-area: triangle-two;
	transform: rotate(180deg);
	align-self: center;
}

.experience-text {
	grid-area: experience-text;
	margin-left: 50px;
	align-self: center;

	
}


.job {
	width: 700px;
}

.job + .job {
	margin-top: 50px;
}


.date-location {
	font-weight: 300;
	height: 25px;
	width: 650px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.date-location h4 {
	font-weight: 300;
}


.experience-list li {
	margin:10px 0;
	font-weight: 300;
	font-size: 1.25rem;
}

/*Skill*/

.skills {
	grid-area: skills;
	height: 100%;
	position: relative;
	opacity: 0;
	right:100px;

	display: grid;
	grid-template-columns: 3.5fr 6.5fr;
	grid-template-areas: 
		"triangle-three skills-text";

}

#Layer_3 {
	grid-area: triangle-three;
	align-self: center;

}
.skills-text {
	grid-area: skills-text;
	align-self: center;
	width: 700px;
}

.skills-text h3 {
	font-weight: 300;
}

.skills-list {
	display: flex;
	justify-content: space-between;

	/*display: grid;
	grid-template-columns: 3.25fr 3.25fr;
	grid-template-areas: 
		"soft-skills hard-skills";*/
}

#top {
	display: flex;
	justify-content: center;

}

#top a {
	margin: auto;
	font-size: 48px;
	width: 80px;
	height: 80px; 
}